@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

:root {
    --c-background: #E5E3FF;

    --c-noir: #272727;
    --c-blanc: #FFFFFF;
    --c-rouge: #A11516;
    --c-jaune: #FCD50B;
    --c-gris: #BFBFBF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
}

body {
    background-color: var(--c-background);
}

h1 {
    font-weight: 700;
    font-size: 30px;
    color: var(--c-noir);
}

h2 {
    font-weight: 700;
    font-size: 30px;
    line-height: 45px;
    color: #272727;
}

h4 {
    font-weight: 700;
    font-size: 20px;
    color: #272727;
}





a.deco {
    padding: 10px 20px;
    position: fixed;
    right: 18px;
    top: 18px;
    background: #A11516;
    border-radius: 10px;
    font-weight: 700;
    font-size: 15px;
    color: #FFFFFF;
    text-decoration: none;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
    transition: all 500ms ease;
    z-index: 99;
}

a.deco:hover {
    box-shadow: none;
    transition: all 500ms ease;
}


section.ajout {
    margin: 40px 0 0 55px;
}

section.ajout .buttons {
    display: flex;
    gap: 45px;
    margin-top: 20px;
    flex-wrap: wrap;
}

section.ajout .buttons a {
    padding: 20px 25px;
    background: var(--c-jaune);
    border: 1px solid var(--c-jaune);
    border-radius: 20px;
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
    color: var(--c-noir);
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
    transition: all 500ms ease;
}

section.ajout .buttons a:hover {
    box-shadow: none;
    transition: all 500ms ease;
}



section.modif {
    margin: 70px 0 30px 55px;
}

section.modif .search-bar {
    margin-top: 15px;
    display: flex;
    gap: 15px;
}

section.modif .search-bar input[type='search'] {
    width: 567px;
    min-width: 297px;
    height: 50px;
    background: var(--c-blanc);
    border-radius: 10px;
    border: none;
    padding: 20px;
    transition: all 100ms ease;
}

section.modif .search-bar input[type='search']:focus {
    outline: 3px solid var(--c-jaune);
    transition: all 100ms ease;
}

section.modif .search-bar input[type="submit"] {
    padding: 13px 30px;
    background: var(--c-jaune);
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
    line-height: 22px;
    color: var(--c-noir);
    box-shadow: 5px 5px 40px rgba(0, 0, 0, 0.1);
    transition: all 500ms ease;
}

section.modif .search-bar input[type="submit"]:hover {
    box-shadow: none;
    transition: all 500ms ease;
}

section.modif section {
    margin-top: 57px;
}

ul.list {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}

ul.list li.list-item {
    padding: 20px;
    background: #FFFFFF;
    border-radius: 20px;
    margin-top: 10px;
    box-shadow: 5px 5px 40px rgba(0, 0, 0, 0.1);
    transition: all 500ms ease;
    color: #272727;
    min-height: 300px;
    position: relative;
}

ul.list li.list-item:hover {
    box-shadow: none;
    transition: all 500ms ease;
}

ul.list li.list-item p {
    margin-top: 15px;
}

ul.list li.list-item p.aliment {
    width: 275px;
    min-height: 50px;
}

ul.list li.list-item .buttons {
    display: flex;
    gap: 15px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
}

ul.list li.list-item .buttons a.btn {
    padding: 10px 30px;
    background: var(--c-jaune);
    border-radius: 7px;
    font-weight: 700;
    font-size: 15px;
    color: var(--c-noir);
    text-decoration: none;
}

ul.list li.list-item .buttons a.btn:first-child {
    background: var(--c-rouge);
    border-radius: 7px;
    color: var(--c-blanc);
}


section.boisson ul.list li.list-item {
    min-height: 0;
    height: 190px;
    width: 320px;
}